 html, body{
                      
            font-family: Arial, Helvetica, sans-serif;
            background-color: #ffffff;
            color: #2d2d2d;
        }
h1{
            text-align: center;
            font-size: 48px;
            text-decoration: underline;
        }
.subject{
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline ;
            
        }
        .chapters{
            font-size: 20px;
            font-weight: bold;
        }
        p{
            font-size: 16px;
            text-align: justify;
            font-weight: 300;
        }
     