* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(235, 235, 255);
}

.form-container {
    width: 400px;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #222;
}

label {
    font-weight: 600;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.3s;
}

input:focus, textarea:focus {
    border-color: #0056ff;
    box-shadow: 0 0 6px rgba(0, 86, 255, 0.3);
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #0056ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #003fcc;
}
