* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(229, 228, 247);
}

.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    width: 650px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    gap: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #222;
    font-size: 32px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 16px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    transition: all 0.3s ease;
}

input:focus {
    background-color: #f0f8ff;
    border-color: #0745f0;
    box-shadow: 0 0 8px rgba(7, 69, 240, 0.3);
    outline: none;
}

.full-width {
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #0745f0;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 6px 20px rgba(7,69,240,0.4);
    transform: scale(1.02);
}
